useDynLib(Rlabkey, .registration = TRUE)
export(labkey.selectRows, labkey.executeSql, makeFilter, labkey.insertRows, labkey.importRows, labkey.updateRows, labkey.deleteRows,
	labkey.getSchemas, labkey.getQueries, labkey.getQueryViews, labkey.getQueryDetails, labkey.getDefaultViewDetails, labkey.getFolders,
	labkey.getLookupDetails, labkey.makeRemotePath, getSession, getRows, getLookups, lsSchemas, lsFolders, lsProjects, labkey.saveBatch,
	labkey.curlOptions, labkey.setCurlOptions, labkey.acceptSelfSignedCerts, labkey.setDefaults, labkey.domain.inferFields,
	labkey.domain.drop, labkey.domain.get, labkey.domain.create, labkey.domain.createDesign, labkey.domain.save, labkey.setDebugMode,
	labkey.domain.createAndLoad, labkey.rstudio.initReport, labkey.rstudio.saveReport, labkey.rstudio.isInitialized)
export("getSchema")
export("getFolderPath")
export("saveResults")
export("RlabkeyUsersGuide")


S3method(print, LabkeySession)
S3method(print, LabkeySchemaList)
S3method(print, LabkeySchema)
S3method(print, LabkeyQuery)
#S3method(print, LabkeyField)

import(httr)
import(jsonlite)

importFrom("utils", "URLdecode", "URLencode", "write.table")
importFrom(Rcpp, sourceCpp)
