* text=auto !eol
/Ruminex_0.0.7.tar.gz -text
/check-installed.R -text
/flowStats_2.2.0.tar.gz -text
/flowStats_2.2.0.zip -text
/flowWorkspace_1.1.11.tar.gz -text
/flowWorkspace_1.1.11.zip -text
/install-flowStats-dependencies.R -text
/install-flowWorkspace-dependencies.R -text
/install-rlabkey-dependencies.R -text
/install-ruminex-dependencies.R -text
/install-util.R -text
/readme.txt -text
