* text=auto !eol
/Ruminex_0.0.9.tar.gz -text
/build.xml -text
/check-installed.R -text
/install-ehr-dependencies.R -text
/install-flowStats.R -text
/install-flowWorkspace.R -text
/install-knitr.R -text
/install-rlabkey-dependencies.R -text
/install-ruminex-dependencies.R -text
/install-survival.R -text
/install-util.R -text
/readme.txt -text
